.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0,auto;
    
  }
  


.nav-title{
    font-weight: 700;
    font-size: 32px;
}
.btn{
    
    color: #006A50;
    font-weight:600;
    font-size: 18px;
    border-radius: 8px;
    border-color: #006A50;
    width: 116px;
    height: 52px;
}
nav ul li{
    list-style: none;
}
.ban-title{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E 50%;
    opacity: 50%;

}
.btn2{
    background-color: #006A50;
    width: 270px;
    height: 56px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 8px;
}
.ban-des{
    font-weight: 700;
    font-size: 56px;
}
.ban-img{

    width: 473.3px;
    height: 400px;
}
.banner{
    display: flex;
    justify-content:space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 0px,30px,0,30px;
    
}
.banner-content{
    padding: 80px,100px;
    
}
.sec-tile{
    font-weight: 700px;
    font-size: 40px;
}
.sec-descrip{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E 70%;
}
.bt1{
    background-color:#5490F5;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    padding: 10px;
}
.bt2{
    background-color:#09A15C;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
     padding: 10px;
}
.bt3{
    background-color: #ffc239;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    padding: 10px;
}
.vision-container{
    display: flex;
    gap: 24px;
}
.vision1{
    padding: 30px;
    border-radius: 16px;
    background-color: #5490F5;
    bac
    
}
.vision2{
    padding: 30px;
    border-radius: 16px;
    background-color: #C6E4D6;
    
}
.vision3{
    padding: 30px;
    border-radius: 16px;
    background-color: #f7ebc5;
    
}
.about{
  background-image: url('../assets/quote-bg.png');
  background-repeat:no-repeat;
  margin: 0;
  padding: 48px,24px;
}
.you{
  font-weight: 600px;
  font-size: 20px;
}