.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0,auto;
    
  }
  


.nav-title{
    font-weight: 700;
    font-size: 32px;
}
.btn{
    
    color: #006A50;
    font-weight:600;
    font-size: 18px;
    border-radius: 8px;
    border-color: #006A50;
    width: 116px;
    height: 52px;
}
nav ul li{
    list-style: none;
}
.ban-title{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E 50%;
    opacity: 50%;

}
.btn2{
    background-color: #006A50;
    width: 270px;
    height: 56px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 8px;
}
.ban-des{
    font-weight: 700;
    font-size: 56px;
}

.banner{
    display: flex;
    justify-content:space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    
    
}
.banner-content{
    padding: 80px,100px;
    
    
}
.sec-tile{
    font-weight: 700px;
    font-size: 40px;
}
.sec-descrip{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E 70%;
}
.bt1{
    background-color:#5490F5;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    padding: 10px;
}
.bt2{
    background-color:#09A15C;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
     padding: 10px;
}
.bt3{
    background-color: #ffc239;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    padding: 10px;
}
.vision-container{
    display: flex;
    gap: 24px;
}
.vision1{
    padding: 30px;
    border-radius: 16px;
    background-color: #5490F5;
    bac
    
}
.vision2{
    padding: 30px;
    border-radius: 16px;
    background-color: #C6E4D6;
    
}
.vision3{
    padding: 30px;
    border-radius: 16px;
    background-color: #f7ebc5;
    
}
.about{
  background-image: url('../assets/quote-bg.png');
  background-repeat:no-repeat;
  margin:32px;
  padding: 48px,24px;
}
.you{
  font-weight: 600px;
  font-size: 20px;
}
.new{
  font-weight: 700px;
  font-size: 40px;
}
.al{
  font-weight: 700px;
  font-size: 40px;
}
.bnt{
  border-radius: 8px;
  background-color: #006A50;
  padding: 10px;
  color: #FFFFFF;
}
.imp-news{
  display: flex;
  gap: 40px;
  padding: 48px;
}
.sat{
  border-radius: 24px
}
.don{
  font-weight: 700px;
  font-size: 40px;
  color: #0E0E0E;
}
.sec-dip{
  font-size:16px;
  color:#0E0E0E;
}
main{
  max-width:1140px;
  margin: 0,auto;

}
.hea{
  max-width: 1140px;
  margin: 0,auto;
}
.Donate{
  text-align: center;
  margin: 80px;
}
.rnew{
  margin: 80px;
}
.b1{
  border-radius: 16px;
  font-size: 40px;
  font-weight: 700px;
  padding: 40px,40px;
  justify-content: space-between;
  background-color:#FFFFFF ;
}
.b2{
  background-color: #C6E4D6;
  border-radius: 16px;
  font-size: 40px;
  font-weight: 700px;
  padding: 40px,40px;
  justify-content: space-between;
  

}
.b3{
  border-radius: 16px;
  font-size: 40px;
  font-weight: 700px;
  padding: 40px,40px;
  justify-content: space-between;
  background-color: #FFFFFF;
}
.b4{
  border-radius: 16px;
  font-size: 40px;
  font-weight: 700px;
  padding: 40px,40px;
  justify-content: space-between;
  background-color: #FFFFFF;
}
.for{
  align-content: center;
  text-align: center;
  color: #0E0E0E 50%;
  display: block;
  padding: 40px,20px;
  margin:20px;
}
.done{
  padding:10px;
  font-size:16px;
  margin: 5px;
  color: #ffffff;
  background-color: #006A50;
  border-radius: 8px;
}
.last{
  text-align: center;
  margin: 80px;
  padding: 80px,100px;
  background-color: #C6E4D6;

}
.last1{
  font-weight: 700px;
  font-size: 40px;
}
.last-des{
  font-size: 16px;
  color: #0E0E0E 70%;
}
.l{
  align-content: center;
  display: flex;
}
.lb{
  background-color: #006A50;
  color: #ffffff;
  font-weight: 600px;
  font-size: 18px;
  padding: 17px,34px;
}
.w{
  font-size: 16px;
  text-align: center;
  color:#0E0E0E 70%;
}
.finish{
  font-weight: 700px;
  font-size: 36px;
  text-align:center;
  max-width: 1140px;
color: #0E0E0E;
}